@import url("font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b2431;
  color: white;
  font-family: "ProximaNova", serif;
  min-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 85%;
  margin: 50px auto;
}
.main {
  width: 80%;
  margin: 0 auto 50px;
  flex-grow: 1;
}

.task-name {
  font-size: 35px;
}

.new-person {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px
}

.btn-add,
.btn-add:hover {
  color: white;
}

.btn-add {
  align-self: flex-end;
  background-color: #269cf3;
}

.btn-add:hover {
  background-color: #273142;
}

.inputs {
  display: flex;
}

.inputs .form-group,
.inputs .date {
  width: 16.7%;
  padding-right: 5px;
}

.form-control {
  background-color: #222c3c;
  border: 1px solid #1b2431;
  border-radius: 5px;
  color: white;
}

.dropdown-menu {
  background-color: #273142;
}

.input-group-addon {
  background-color: transparent;
  border: none;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.focused,
.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
  background-color: #2a8edc;
  border-radius: 50%;
}

.table {
  border-radius: 10px;
}

.table th {
  width: 16.6%;
}

.table tr {
  background-color: #273142;
}

.table>thead>tr>th {
  border-bottom: none;
}

.table>tbody>tr>td {
  border-top: 1px solid #313d4f;
}

th:first-child {
  border-radius: 10px 0 0;
}

th:last-child {
  border-radius: 0 10px 0;
}

.footer {
  padding: 20px;
}
